/* Welcome.css */
.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; /* Set a background color */
}

.loader-container {
  text-align: center;
}

.welcome-content {
  text-align: center;
  animation: fadeIn 1.5s; /* Apply a fade-in animation */
}

.start-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.start-button:hover {
  background-color: #0056b3; /* Change background color on hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
